# Material extra:

1. Artigo sobre tuplas: https://www.alura.com.br/artigos/conhecendo-as-tuplas-no-python
2. Artigo sobre dicionários: https://www.alura.com.br/artigos/trabalhando-com-o-dicionario-no-python 

3. Documentação do SKlearn: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [2]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
# Renomeando as colunas

mapa = {"home": "Página Principal",
        "how_it_works": "Como Funciona",
        "contact": "Contato",
        "bought": "Comprou"}

dados = dados.rename(columns = mapa)
dados.head()

   Página Principal  Como Funciona  Contato  Comprou
0                 1              1        0        0
1                 1              1        0        0
2                 1              1        0        0
3                 1              1        0        0
4                 1              1        0        0

In [4]:
# Separando od dados (x, y)

x = dados[["Página Principal", "Como Funciona", "Contato"]]
y = dados[["Comprou"]]

In [5]:
x.head()

   Página Principal  Como Funciona  Contato
0                 1              1        0
1                 1              1        0
2                 1              1        0
3                 1              1        0
4                 1              1        0

In [6]:
y.head()

   Comprou
0        0
1        0
2        0
3        0
4        0

In [7]:
# Verificando o tamanho e formato dos dados

dados.shape

(99, 4)

## Primeira forma de separa os dados

In [27]:
# Separando nos dados entre "treino" e "teste"
# Separaremos em média 25% para TESTAR e 75% para TREINAR

treino_x = x[:75]
treino_y = y[:75]
print(f"Quantidade para treino : {treino_x.shape}")

teste_x = x[75:]
teste_y = y[75:]
print(f"Quantidade para teste : {teste_x.shape}")

Quantidade para treino : (75, 3)
Quantidade para teste : (24, 3)

In [28]:
print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos.")

Treinaremos com 75 elementos e testaremos com 24 elementos.

In [33]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes)
print(f"Taxa de acerto: {taxa_de_acerto:.2%}")

Taxa de acerto: 95.83%

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Segunda forma de separar os dados

In [93]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC


treino_x, teste_x, treino_y, teste_y  = train_test_split(x, y, random_state = 42, test_size =0.20, stratify = y)
print(f"Treinaremos com {len(treino_x)} elementos e", end=' ')
print(f"testaremos em {len(teste_x)} elementos.")

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
taxa_de_acerto = accuracy_score(teste_y, previsoes)
print(f"A taxa de acerto: {taxa_de_acerto:.2%}")

Treinaremos com 79 elementos e testaremos em 20 elementos.
A taxa de acerto: 95.00%

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [94]:
print(treino_y.value_counts())
zero = treino_y.value_counts()[0]
um = treino_y.value_counts()[1]

Comprou
0          53
1          26
dtype: int64

In [95]:
print(f"Relação Comprou/Não comprou: {um/zero:.2f}")

Relação Comprou/Não comprou: 0.49

In [96]:
print(teste_y.value_counts())
zero = teste_y.value_counts()[0]
um = teste_y.value_counts()[1]

Comprou
0          13
1           7
dtype: int64

In [97]:
print(f"Relação Comprou/Não comprou: {um/zero:.2f}")

Relação Comprou/Não comprou: 0.54